name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # Run this workflow at 3 AM UTC every day.
    - cron: '0 3 * * *'

env:
  COMPOSER_FLAGS: "--ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader"

jobs:
  fixtures:
    name: Confirm test fixtures generation
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Generate fixtures
      run: |
        pipenv run python generate_fixtures.py
        if [[ $(git status --porcelain) ]];
        then
            echo "Fixture generation produced changes!"
            git status
            exit 1
        else
            tar -c -z -f fixtures.tar.gz fixtures
            exit 0
        fi
    - name: Store fixtures as artifact
      uses: actions/upload-artifact@v3
      with:
        name: fixtures
        path: fixtures.tar.gz
        retention-days: 5

  build:
    name: PHP ${{ matrix.php }} test on ${{ matrix.operating-system }} with ${{ matrix.dependencies }}
    needs: fixtures
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        operating-system: [ubuntu-latest, macos-latest, windows-latest]
        php: ['8.1', '8.2']
        experimental: [false]
        include:
          - operating-system: ubuntu-latest
            php: 8.1
            experimental: true
    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: sodium, json
          tools: composer:v2

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - uses: actions/checkout@v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Require dependencies
        run: 'composer require --no-update ${{ matrix.dependencies }}'

      - name: Install dependencies
        run: 'composer install ${{ env.COMPOSER_FLAGS }}'

      - name: PHP linting
        if: matrix.operating-system != 'windows-latest'
        run: composer lint

      - name: Run PHPCS
        run: composer phpcs

      - name: Generate fixtures
        run: composer fixtures

      - name: Run test suite
        run: composer test

      - name: Check dependencies for known security vulnerabilities
        run: composer audit

  build-lowest-version:
    name: Build lowest version
    needs: fixtures
    runs-on: ubuntu-latest

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: composer:v2

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download dependencies
        run: 'composer update ${{ env.COMPOSER_FLAGS }} --prefer-lowest'

      - name: Download fixtures
        uses: actions/download-artifact@v3
        with:
          name: fixtures

      - name: Extract fixtures
        run: tar -x -z -f fixtures.tar.gz

      - name: Run test suite
        run: composer test
